.home-search-bar { 
    @apply rounded-full relative;

    .search__input__box {
        @apply w-full shadow-none rounded-full bg-theme-23 items-center dark:bg-dark-1 pr-8;
        min-height:60px; 

        .search__input__label { 
            @apply h-10  ml-20 w-full  inset-y-1 inset-x-1  mt-6 ml-8 right-0 font-bold text-right  text-theme-1 dark:text-theme-11;
            font-size: 14px;
        }

        .search__input__item { 
            @apply  w-full h-10 relative inset-y-1 inset-x-1 mt-0 ml-5 mb-4 right-0 border-0 ring-0 bottom-0 bg-transparent dark:text-theme-17 ;
            font-size: 16px;

            input[type="text"] { 
                @apply font-medium;
            }
        }

        .search__input__optionals { 
            @apply flex  mb-6;
        }

        
    }
    .search__icon {
        @apply w-10 h-10 p-2 absolute my-auto inset-y-0 mr-10 right-0 dark:bg-dark-1 rounded-full text-gray-600;
    }



    .home-search-result {
        
        @apply z-40 w-full absolute right-0 mt-40 invisible opacity-0;
        transition: visibility 0s linear 0.2s, opacity 0.2s 0s;
        &.show {
            transition: visibility 0s linear 0s, opacity 0.2s 0s;
            @apply visible opacity-100;
            > .search-result__content {
                margin-top: -1px;
                .tab-content .tab-pane {
                    @apply visible;
                }
            }
        }
        .search-result__content {
            transition: margin-top 0.2s;
            @apply box p-5 mt-5 dark:bg-dark-6;
            .search-result__content__title {
                @apply font-medium mb-2;
            }
        }
    }
    


}

.content--light .home-search-bar {
    .search__input {
        @apply bg-theme-10;
    }
    .search__icon {
        @apply text-theme-13;
    }
}

